{% extends 'base.html.twig' %}

{% block body %}
<h1>Test !</h1>
{# création de variable #}
{% set name = "Sandra" %}
{# ~ est le symbôle de concaténation #}
<h2>Hello {{ name ~ " " ~ name }} !</h2>

{# création d'un tableau #}
{% set colors = ['red', 'purple', 'green', 'yellow'] %}
{# boucler sur un tableau #}
{% for c in colors %}
    <div style="background-color: {{ c }}">{{ c }}</div>
    {# usage de la variable loop créée par for #}
    {% if loop.first %}
        <div>Première itération</div>
    {% endif %}

    {# index de l'élément #}
    <div>index de l'élément courant : {{ loop.index }} / {{ loop.length }}</div>

    {% if loop.last %}
        <div>Dernière itération</div>
    {% endif %}

    {# balise else si le tableau est vide #}
{% else %}
    <div>Pas d'éléments</div>
{% endfor %}

{# manipulation d'objets #}
<h1>OBJETS</h1>
{% set serie =
    {
    title : "lotr",
    year : 2022,
    plateform : "Amazon prime"
    }
%}
<h2>Titre de la série : {{ serie.title }}</h2>
{# boucler sur un objet #}
{% for key, val in serie %}
    <div>{{ key }} : {{ val }}</div>
{% endfor %}

{# les filtres #}
<h1>FILTRES</h1>
<div>{{ name | upper | lower | capitalize }} : {{ name | length }} lettres</div>
<div>{{ colors | join("-") }}</div>
<div>{{ "now" | date('d/m/Y H:i') }}</div>


{% endblock %}
{% block title %} {{ parent() }} | Test{% endblock %}